@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos a Net-Baires</h1>
    <p><a href="https://www.net-baires.com.ar">Comunidad de .NET en Buenos Aires</a>.</p>
</div>
